@import url('https://fonts.googleapis.com/css2?family=Anton&family=Limelight&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300&family=Anton&family=Source+Sans+Pro:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Nunito:ital,wght@0,300;1,300&display=swap');

:root {
    --color-black: #232323;
    --color-pink: #ff6393;
    --color-dark-pink: #df4775;
    --color-purple: #342a47;
    --color-blue: deepskyblue;
    --color-gray: #525252;
    --color-green: #bbe187;
    
    --transition-fast: 0.1s;
   }
   
 
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
}

.wrap {

  position:relative;
  width:100%;
  height:auto;
  overflow:hidden;

}


.container{
    width: 700px;
    height: auto;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.contact-box{
	max-width: 850px;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
    background-color: rgb(143, 174, 233);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}


.right{
	padding: 25px 40px;
}


h1 {
    font-size: 35px;
    margin: 15px;
    font-family: 'Limelight', cursive;


}

h2{
    font-size: 20px;
    margin: 25px;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
}



.InputGroup {
    display: flex;
    height: 60px;
    width: 300px;
     margin-left: auto;
  margin-right: auto;
    display: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;

   }
   
   
   input[type="radio"] {
     visibility: hidden; 
     height: 0; 
     width: 0; 
   }
   
   .radioBTN {
     
     flex: auto;
   
     cursor: pointer;
     background-color: var(--color-gray);
     color: white;
     padding: 5px 10px;
     border-radius: 6px;
     transition: color --transition-fast ease-out, 
                 background-color --transition-fast ease-in;
     user-select: none;
    margin-right: 8px;
   }
   
   label:last-of-type {
    margin-right: 0;
   }
   
   input[type="radio"]:checked + label {
     background-color: var(--color-dark-pink);
     color: var(--color-black);
   }
   
   input[type="radio"]:hover:not(:checked) + label {
    background-color: var(--color-pink);
    color: var(--color-black);
   }
   
   

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;

}


.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

/* input{
	min-height: 150px;
} */


.field1{
	width: 50%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;

}


.field1:hover{
	background-color: rgba(0, 0, 0, 0.1);
}



#textArea {
    width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;

}


input{
	min-height: 10px;
}




.btn1{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.btn1:hover{
    background-color: #27ae60;
}


.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

.field1:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
.giph1{
	width: 50%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;

}

.gif {
    width: 2px;
  height: 5px;
  visibility: hidden;

}

.giphSearch {

    font-size: 23px;
    margin-right: 1%;
}

#btnSearch {
    width: 10%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;


}

#btnSearch:hover {
    background-color: #27ae60;
}


/* footer {
    position: fixed;
    height: auto;
    left: 0;
    bottom:0px;
    width: 100%;
   
    background-color: gainsboro;
    color: darkblue;
    text-align: center;
    padding: 10px;
    
 }  */


/*  For new cards*/
.flex-container {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

:root {
  --pmcolor: #f1f0f9;
  --sdcolor: #fefefe;
  --ttcolor: #2e2e2e;
}


 .cardBody {
 
    width: 50%;
    height: 1000%;
    cursor: default;
    padding: 70px;
    margin: 10px;
   
    border-radius: 0.25rem;
    background-color: rgb(119, 140, 149);
   
    transition: transform 0.3s ease-in-out;
   
}

.cardBody:hover {
  transform: translateY(-0.5rem);
}


.gifIMG {
  height: auto;
  width: 100%;
  display: block;
  margin: 10px;
 

}

.cardTitle {
  font-family: 'Domine', serif;
  
 
  color: rgb(245, 236, 236);
  font-weight: 900;
  font-size: 50px;
  

}

.cardText {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.25em;
  height: 90px;
  font-family: 'Nunito', sans-serif;
  
  color: rgb(248, 243, 243);
  display: inline;

}

.comments {
  
    height: 60px;
    display: flex;
    color: rgb(9, 9, 9);

}



.btn-group {
  
  font-size: 30px;
}


.commentInput {
 
  width:100%;
  height:auto;
  padding:10px;
  border:1px solid black;
  resize:none;
  
}


.textArea {
    width: 100%;
   
}



.searchDiv{
    width: 50%;
    margin: 0 auto;
}
.newSearchDiv{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.newSearch{
    width: 40%;
    margin-top: 20px;
}



/* cards */

  
:root {
    /** sunny side **/
    --blue-background: #C2E9F6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
    /** general **/
    --white: #fff;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  
  
  
  .toggle--checkbox {
    display: none;
  }
  
  .toggle--checkbox:checked ~ .background {
    background: var(--indigo-background);
  }
  .toggle--checkbox:checked + .toggle--label {
    background: var(--indigo-color);
    border-color: var(--indigo-border);
  
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background {
    left: 60px;
    width: 5px;
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
    width: 5px;
    height: 5px;
    top: -25px;
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
    width: 5px;
    height: 5px;
    left: -30px;
    top: 20px;
  }
  .toggle--checkbox:checked + .toggle--label:before {
    background: var(--white);
    border-color: var(--gray-border);
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
  }
  .toggle--checkbox:checked + .toggle--label:after {
    transition-delay: 350ms;
    opacity: 1;
  }
  .toggle--label {
  
    width: 100px;
    height: 50px;
    background: var(--blue-color);
    border-radius: 10px;
    border: 5px solid var(--blue-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
    margin-right: 80px;
  
  }
  .toggle--label-background {
    width: 1px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: var(--white);
    left: 13px;
    top: 5px;
    transition: all 150ms ease-in;
  }
  .toggle--label-background:before {
    content: "";
    position: absolute;
    top: -5px;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    left: -20px;
    transition: all 150ms ease-in;
  }
  .toggle--label-background:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    left: -10px;
    transition: all 150ms ease-in;
  }
  .toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: "";
    width: 8px;
    height: 30px;
    border: 5px solid var(--yellow-border);
    top: 4px;
    left: 4px;
    position: absolute;
    border-radius: 8px;
    background: var(--yellow-background);
  }
  .toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: "";
    box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
    left: 143px;
    top: 23px;
    width: 10px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    opacity: 0;
  }
  
  @keyframes switch {
    0% {
      left: 4px;
    }
    60% {
      left: 4px;
      width: 112px;
    }
    100% {
      left: 104px;
      width: 82px;
    }
  }
  @keyframes reverse {
    0% {
      left: 104px;
      width: 82px;
    }
    60% {
      left: 72px;
      width: 112px;
    }
    100% {
      left: 4px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  #icon{
    width: 30px;
    cursor: pointer;
    margin: 4px;
  }
  
  /* Dark Mode - we create css variables and add the in the place of color code */
  :root{
    --primary-color: gainsboro;
    --secondary-color: #212121;
  }
  
  
  .dark-theme{
    --primary-color: #212121;
    --secondary-color: gainsboro;
  }
  
  body {
    background-color: var(--primary-color);
  }
  
  footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: grey;
      color: var(--primary-color);
      text-align: center;
   }
