
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    color: black;
    text-align: center;
 }

.flex-container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

 .cardBody {
    margin: 10px;
    background-color: grey;
    width: 30%;
    height: 400px;
}

.comments {
    overflow: auto;
    height: 60px;
}
.textArea {
    width: 90%;
}

.counter{
    width: 30px;
    text-align: center;
    background-color: blueviolet;
}